*{
    box-sizing: inherit;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

}

html {
    font-size: 62.5%;
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/bg-body.png') repeat;
}

.Home-page {
    width: 100%;
    height: 678px;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/bg-header-optimized.jpg') no-repeat top center;
    color: #5e4027;
    font-size: 1.5rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Header-l */

.header-l {
    text-align: center;
    padding: 15px;
    position: relative;
    z-index: 1;
}

.header-l .header-l_img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

.header-l_link-img {
    max-width: 100%;
    height: auto;
}

.header-r {
    font-weight: 400;
    line-height: 1.5rem;
}

.header-r-top {
    padding: 20px 0;
    color: #8b0304;
    display: flex;
    justify-content: flex-end;
}

.header-r-info {
    padding-left: 25px;
}

.header-r-info a:hover {
    text-decoration: none;
    color: #faa519;
}

.header-r-info .info-icon-num-link {
    font-size: 2rem;
    color: #8b0304;
    font-weight: 700;
}

/* Header right - bottom */


.header-r-bottom {
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    align-items: center;
}
.header-r-bottom-search {
    width: 65%;
    display: flex;
    background: rgba(255,255,255,.4);
    height: 37px;
    border-color: #faa519;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #faa519;
    padding: 0 20px;
    position: relative;
    color: #9d0b0f;
}

.header-r-bottom-search::after {
    content: "";
    display: block;
    width: 13px;
    position: absolute;
    z-index: 1;
    top: -1px;
    bottom: -1px;
    left: -1px;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/bg-search-left.png') no-repeat;
}

.header-r-bottom-search::before {
    content: "";
    display: block;
    width: 13px;
    position: absolute;
    z-index: 1;
    top: -1px;
    bottom: -1px;
    right: -13px;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/bg-search-right.png') no-repeat;
}

.search-info {
    height: 37px;
    width: 60%;
    outline: none;
    border: none;
    border-top: 1px solid #faa519;
    border-bottom: 1px solid #faa519;
    background: transparent;
    margin-right: auto;
    padding-left: 60px;
}

.search-option {
    display: flex;
    width: 12%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.search-option .search-option-icon {
    font-size: 1rem;
}

.header-r-bottom-search .search-btn {
    display: flex;
    align-items: center;
    width: 20%;
}

.header-r-bottom-search .search-option-icon-btn {
    padding-right: 6px;
    font-size: 1.5rem;
}

.header-r-bottom-search .search-btn {

    background-color: #faa519;
        color: #9d0b0f;
        position: absolute;
        z-index: 1;
        top: 1px;
        bottom: 1px;
        right: 0;
        border-radius: 0;
        line-height: 35px;
        padding: 0 10px;
}

.search-info::placeholder {
    color: #9d0b0f;
}



/* user log */

.header-r-bottom-user {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.header-r-bottom-user a {
    text-decoration: none;
}

.header-r-bottom-user a:hover {
    color:unset;
}

.user-log {
    display: flex;
}

.user-log-text-link {
    display: flex;
    flex-direction: column;
    color: #8b0304;
}


.user-log-link {
    display: block;
    width: 37px;
    height: 37px;
    line-height: 32px;
    border: solid 2px #faa519;
    text-align: center;
    box-shadow: 0 2px 5px rgb(0 0 0 / 15%);
    border-radius: 50%;
    background-color: rgba(255,255,255,.4);
    color: #8b0304;
    position: relative;
    z-index: 1;
    margin-right: 10px;
}

.log-in {
    font-weight: 500;
    margin-bottom: 3px;
}

.user-log-text-acc {
    font-size: 1.3rem;
    position: relative;
    color: #795e2f;
}

.user-log-text-icon {
    position: absolute;
    left: 62px;
}

/* cart */

.cart {
    position: relative;
}

.cart-quan {
    display: block;
    position: absolute;
    top: -8px;
    left: 20px;
    width: 20px;
    height: 20px;
    background: #faa519;
    z-index: 1;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.3rem;
}


/* Category */

.category-menu {
    width: 100%;
    height: 346px;
    background: #8b0304 url('https://honglam.vn/Themes/Themes01/Assets/css/images/bg-product-menu.png') no-repeat center;
    background-size: 97% 97%;
    color: #fff;
}

.cate-tab {
    font-size: 16px;
    padding: 15px 0 10px 0;
    margin: 0 5px;
    height: 50px;
    line-height: 16px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: solid 1px #a10c0d;
    
}

.cate-tab:hover {
    cursor: grab;
}

.cate-tab-img {
    font-size: 1.6rem;
    padding-left: 20px;
}

.cate-tab-title {
    font-size: 1.6rem;
    top: 18px;
    position: absolute;
    left: 44px;
    line-height: 16px;
    padding-left: 8px;
    font-weight: 500;
}

.cate-item {
    font-size: 1.5rem;
    display: block;
    width: 100%;
}

.cate-item-link {
    display: flex;
    align-items: center;
    border-bottom: solid 1px #a10c0d;
    height: 42px;
}

.category-menu ul {
    padding: 0;
}

.cate-item-img {
    padding-left: 25px;
}

.cate-item-brand {
    color: white;
    font-weight: 400;
    line-height: 1.5rem;
    padding-left: 14px;
}

.cate-list li:hover {
    background-color: rgba(0,0,0,.1);
}

.cate-list li:hover .cate-item-brand {
    color: #faa519
}

.cate-list li:last-child a {
    border-bottom: unset;
}

.modifier {
    padding-left: 10px;
    padding-right: 0px;
}










/* slide */

.slide {
    background-color: teal;
    width: 100%;
    height: 400px;
}
