*{
    box-sizing: inherit;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

}

html {
    font-size: 62.5%;
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/bg-body.png') repeat;
}

.Home-page {
    width: 100%;
    height: 678px;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/bg-header-optimized.jpg') no-repeat top center;
    color: #5e4027;
    font-size: 1.5rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Header-l */

.header-l {
    text-align: center;
    padding: 15px;
    position: relative;
    z-index: 1;
}

.header-l .header-l_img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

.header-l_link-img {
    max-width: 100%;
    height: auto;
}

.header-r {
    font-weight: 400;
    line-height: 1.5rem;
}

.header-r-top {
    padding: 20px 0;
    color: #8b0304;
    display: flex;
    justify-content: flex-end;
}

.header-r-info {
    padding-left: 25px;
}

.header-r-info a:hover {
    text-decoration: none;
    color: #faa519;
}

.header-r-info .info-icon-num-link {
    font-size: 2rem;
    color: #8b0304;
    font-weight: 700;
}

/* Header right - bottom */


.header-r-bottom {
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    align-items: center;
}
.header-r-bottom-search {
    width: 65%;
    display: flex;
    background: rgba(255,255,255,.4);
    height: 37px;
    border-color: #faa519;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #faa519;
    padding: 0 20px;
    position: relative;
    color: #9d0b0f;
}

.header-r-bottom-search::after {
    content: "";
    display: block;
    width: 13px;
    position: absolute;
    z-index: 1;
    top: -1px;
    bottom: -1px;
    left: -1px;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/bg-search-left.png') no-repeat;
}

.header-r-bottom-search::before {
    content: "";
    display: block;
    width: 13px;
    position: absolute;
    z-index: 1;
    top: -1px;
    bottom: -1px;
    right: -13px;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/bg-search-right.png') no-repeat;
}

.search-info {
    height: 37px;
    width: 60%;
    outline: none;
    border: none;
    border-top: 1px solid #faa519;
    border-bottom: 1px solid #faa519;
    background: transparent;
    margin-right: auto;
    padding-left: 60px;
}

.search-option {
    display: flex;
    width: 12%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.search-option .search-option-icon {
    font-size: 1rem;
}

.header-r-bottom-search .search-btn {
    display: flex;
    align-items: center;
    width: 20%;
}

.header-r-bottom-search .search-option-icon-btn {
    padding-right: 6px;
    font-size: 1.5rem;
}

.header-r-bottom-search .search-btn {

    background-color: #faa519;
        color: #9d0b0f;
        position: absolute;
        z-index: 1;
        top: 1px;
        bottom: 1px;
        right: 0;
        border-radius: 0;
        line-height: 35px;
        padding: 0 10px;
}

.search-info::placeholder {
    color: #9d0b0f;
}



/* user log */

.header-r-bottom-user {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.header-r-bottom-user a {
    text-decoration: none;
}

.header-r-bottom-user a:hover {
    color:unset;
}

.user-log {
    display: flex;
}

.user-log-text-link {
    display: flex;
    flex-direction: column;
    color: #8b0304;
}


.user-log-link {
    display: block;
    width: 37px;
    height: 37px;
    line-height: 32px;
    border: solid 2px #faa519;
    text-align: center;
    box-shadow: 0 2px 5px rgb(0 0 0 / 15%);
    border-radius: 50%;
    background-color: rgba(255,255,255,.4);
    color: #8b0304;
    position: relative;
    z-index: 1;
    margin-right: 10px;
}

.log-in {
    font-weight: 500;
    margin-bottom: 3px;
}

.user-log-text-acc {
    font-size: 1.3rem;
    position: relative;
    color: #795e2f;
}

.user-log-text-icon {
    position: absolute;
    left: 62px;
}

/* cart */

.cart {
    position: relative;
}

.cart-quan {
    display: block;
    position: absolute;
    top: -8px;
    left: 20px;
    width: 20px;
    height: 20px;
    background: #faa519;
    z-index: 1;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.3rem;
}


/* Category */

.category-menu {
    width: 100%;
    height: 346px;
    background: #8b0304 url('https://honglam.vn/Themes/Themes01/Assets/css/images/bg-product-menu.png') no-repeat center;
    background-size: 97% 97%;
    color: #fff;
}

.cate-tab {
    font-size: 16px;
    padding: 15px 0 10px 0;
    margin: 0 5px;
    height: 50px;
    line-height: 16px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: solid 1px #a10c0d;
    
}

.cate-tab:hover {
    cursor: grab;
}

.cate-tab-img {
    font-size: 1.6rem;
    padding-left: 20px;
}

.cate-tab-title {
    font-size: 1.6rem;
    top: 18px;
    position: absolute;
    left: 44px;
    line-height: 16px;
    padding-left: 8px;
    font-weight: 500;
}

.cate-item {
    font-size: 1.5rem;
    display: block;
    width: 100%;
}

.cate-item-link {
    display: flex;
    align-items: center;
    border-bottom: solid 1px #a10c0d;
    height: 42px;
}

.category-menu ul {
    padding: 0;
}

.cate-item-img {
    padding-left: 25px;
}

.cate-item-brand {
    color: white;
    font-weight: 400;
    line-height: 1.5rem;
    padding-left: 14px;
}

.cate-list li:hover {
    background-color: rgba(0,0,0,.1);
}

.cate-list li:hover .cate-item-brand {
    color: #faa519
}

.cate-list li:last-child a {
    border-bottom: unset;
}

.modifier {
    padding-left: 15px;
    padding-right: 0px;
}

.modifier-l {
    padding-left: 0px;
    padding-right: 20px;
}










/* slide */

.slide {
    position: relative;
    z-index: 1;
    height: 346px;
    max-height: 350px;
    /* background-color: #dfdfdf; */
    width: 100%;
}

.slide::before {
    display: block;
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/bg-slider.png') no-repeat center;
    pointer-events: none;
    background-size: 100% 100%;
}



.slide-btn-left {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    padding: 0;
    border: none;
    outline: none;
    left: -7px;
}

.slide-btn-left::before {
    display: inline-block;
    content: "";
    width: 19px;
    height: 19px;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/btn-slider-prev.png');
    position: relative;
    z-index: 10;
}

.slide-btn-left::after {
    display: inline-block;
    content: "";
    width: 18px;
    height: 35px;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/btn-slider-prev-bg.png');
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
}

.slide-btn-right {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    padding: 0;
    border: none;
    outline: none;
    right: -7px;
}

.slide-btn-right::before {
    display: inline-block;
    content: "";
    width: 19px;
    height: 19px;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/btn-slider-next.png');
    position: relative;
    z-index: 10;
}

.slide-btn-right::after {
    display: inline-block;
    content: "";
    width: 18px;
    height: 35px;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/btn-slider-next-bg.png');
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
}
.slide-btn-right:focus {
    outline: none;
    background: transparent;
    color: transparent;
}


.slide-dots {
    position: absolute;
    bottom: 10px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.slide-dot {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}


.slide-dot-btn:focus,
.slide-dot-btn-active:focus {
    outline: none;
    background: transparent;
    color: transparent;
}

.slide-dot-btn,
.slide-dot-btn-active {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 5px;
    cursor: pointer;
}

.slide-dot-btn::before {
    width: 15px;
    height: 15px;
    display: inline-block;
    content: "";
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/btn-slider-dot-active.png');
}

.slide-dot-btn-active::before {
    width: 15px;
    height: 15px;
    display: inline-block;
    content: "";
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/btn-slider-dot.png');
}


/* item */

.sub-header {
    background: rgba(255,255,255,.6);
    padding: 1px;
    margin-top: 10px;
    position: relative;
    z-index: 1;
    margin-left: 0px;
    margin-right: 0px;
    border: solid 1px #c0a884;
}
.sub-header .modifier-border {
    border-left: solid 1px #ded3c2;
}
.item {
    padding: 20px;
    display: flex;
    height: 72px;

    align-items: center;
}
.sub-header::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 5px;
    height: 24px;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/bg-linked.png') no-repeat center;
    top: -14px;
    left: 5px;
}

.sub-header::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 5;
    width: 5px;
    height: 24px;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/bg-linked-2.png') no-repeat center;
    top: -14px;
    right: 5px;
}

.item-img {
    max-height: 45px;
    max-width: 45px;
    display: inline-block;
    margin-right: 10px;
}
.col-3:first-child .item {
    border-left:unset;
}


.item-title-1 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-bottom: 4px;
}

.item-title-2 {
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.item-content {
    display: flex;
    flex-direction: column;
}

/* Page body */

.page-body-shadow {
    height: 75px;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/bg-top-shadow.png') no-repeat top center;
}

.hot-primary {
    text-align: center;
}

.btn-hot-primary {
    display: inline-block;
    height: 47px;
    border: solid 1px #8b0304;
    min-width: 310px;
    line-height: 40px;
    font-size: 2.6rem;
    font-weight: 700;
    color: #8b0304;
    position: relative;
    border-left: unset;
    border-right: unset;
}

.btn-hot-primary::before {
    content: "";
    display: block;
    width: 13px;
    position: absolute;
    z-index: 1;
    top: -1px;
    bottom: -1px;
    left: -13px;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/btn47-bg-left-hover.png') no-repeat;
}

.btn-hot-primary::after {
    content: "";
    display: block;
    width: 13px;
    position: absolute;
    z-index: 1;
    top: -1px;
    bottom: -1px;
    right: -13px;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/btn47-bg-right-hover.png') no-repeat;
}

.btn-hot-primary:hover {
    color: #faa519;
}


/* group hot item */

.hot-item {
    width: 100%;
    height: 215px;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/bg-hot-product-1.jpg') no-repeat center;
    margin: 10px;
    margin-bottom: 0;
    margin-top: 20px;
    overflow: hidden;
    padding: 15px;
    position: relative;
    z-index: 1;
    color: white;
}

.hot-item .item-info-title {
    font-size: 2rem;
    font-weight: 700;
}


.hot-item .item-info-slogan {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
}

.hot-item .item-info-price {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 3.2rem;
}

.hot-item .item-info-discount {
    margin-bottom: 35px;
}

.hot-item p {
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin-bottom: 4px;
}
.hot-item a {
    color: white;
}

.hot-item .item-info-link {
    text-transform: uppercase;
    font-size: 13px;
    display: inline-block;
    padding: 5px 20px;
    border: solid 1px #fff;
    border-radius: 15px;
    transition: all .5s ease 0s;
    color: white;
}

.hot-item .item-info-link:hover {
    border-radius: 5px;
}
.hot-item .item-info-link-icon {
    font-size: 1.2rem;
}

.hot-item .item-info-link-pop {
    display: block;
    max-width: 60%;
    position: absolute;
    z-index: 1;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.hot-item .item-info-link-img {
    width: 85%;
}

/* hot-item-large */
.hot-item.large {
    width: 100%;
    height: 451px;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/bg-hot-product-3.jpg') no-repeat center;
    background-size: 100% 100%;
    margin: 10px;
    margin-bottom: 0;
    margin-top: 20px;
    overflow: hidden;
    padding: 15px;
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
}


.hot-item.large .item-info-title {
    font-size: 3.2rem;
    font-weight: 700;
}

.hot-item.large .item-info-discount {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 55px;
}

.hot-item.large .item-info-link {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 20px;
}


.hot-item.large .item-info-link-pop {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 130px;
}


.group-hot-item {
    margin-bottom: 80px;
}

/* gift product */

.style-list-product {
    text-align: center;
    margin-bottom: 60px;
}

.btn-primary1 {
    display: inline-block;
    height: 47px;
    border: solid 1px #8b0304;
    min-width: 110px;
    line-height: 40px;
    font-size: 2.6rem;
    font-weight: 700;
    background-color: #8b0304;
    position: relative;
    border-left: unset;
    border-right: unset;
    margin-left: 14px;
    margin-right: 14px;
    color: white;
    padding: 0 50px;
}

.btn-primary1::before {
    content: "";
    display: block;
    width: 14px;
    position: absolute;
    z-index: 1;
    top: -1px;
    bottom: -1px;
    left: -14px;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/btn47-bg-left-hover-solid.png') no-repeat;
}

.btn-primary1::after {
    content: "";
    display: block;
    width: 14px;
    position: absolute;
    z-index: 1;
    top: -1px;
    bottom: -1px;
    right: -14px;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/btn47-bg-right-hover-solid.png') no-repeat;
}


.decor {
    overflow: hidden;
    margin-bottom: 10px;
}


.decor::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border: solid 1px #8b0304;
    position: absolute;
    z-index: 2;
    top: calc(50% - 2px);
    left: 0;
    background: #efe8e2;
}

.decor::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border: solid 1px #8b0304;
    position: absolute;
    z-index: 2;
    top: calc(50% - 2px);
    right: 0;
    background: #efe8e2;
}

.lineL {
    display: block;
    height: 1px;
    background: #8b0304;
    width: 1000px;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: calc(100% + 14px);
}

.lineR {
    display: block;
    height: 1px;
    background: #8b0304;
    width: 1000px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: calc(100% + 14px);
}

/* list gift */

.gift-list {
    background: #fff;
    padding: 4px;
    margin: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 4%);
    height: 326px;
}

.gift-item {
    width: 100%;
    border: solid 1px #f0e9e3;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    color: #9d0b0f;
}

.gift-info {
    position: absolute;
    width: 280px;
    padding: 16px;
    text-align: start;
}

.gift-item-title {
    font-weight: bold;
    color: #9d0b0f;
    font-size: 24px;
}

.gift-item-desc {
    text-align: justify;
    margin-bottom: 30px;
    font-size: 1.4rem;
    color: rgb(83, 81, 81);
    font-weight: 500;
}


.gift-item-img {
    position: absolute;
    right: 15px;
    bottom: 65px;
}

.gift-item-link {
    display: block;
    position: absolute;
    color: #9d0b0f;
    background: #fff;
    padding: 3px 25px;
    border: solid 1px #e9e9e9;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
    top: 150px;
}

.smguter {
    padding: 0;
}

.withBtn {
    width: 100%;
    display: flex;
    position: relative;
}

.withBtn .slide-btn-left {
    left: -3px;
    z-index: 10;
}

.withBtn .slide-btn-left::before {
    width: 31px;
    height: 31px;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/slick-prev-xs.png');
}

.withBtn .slide-btn-left::after {
    display: none;
}

.withBtn .slide-btn-right {
    right: 7px;
    z-index: 10;
}

.withBtn .slide-btn-right::before {
    width: 31px;
    height: 31px;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/slick-next-xs.png');
}

.withBtn .slide-btn-right::after {
    display: none;
}
.withBtn .slide-btn-right:focus {
    outline: none;
    background: transparent;
    color: transparent;
}

/* list dots */

.withBtn .list-dots {
    display: block;
    position: absolute;
    width: 100%;
    bottom: -30px;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.withBtn .list-dots .dot {
    display: inline-block;
}

.withBtn .list-dots .dot .dot-btn::before {
    width: 15px;
    height: 15px;
    display: inline-block;
    content: "";
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/slick-dot-active.png');
}

.withBtn .list-dots .dot .dot-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.withBtn .list-dots .dot .dot-btn:focus {
    outline: none;
}

/* default item list */


.default-item {
    background-color: white;
    width: 100%;
    padding: 4px;
}

.default-item:hover .list-item {
    border: 1px solid rgba(250,165,25,.5);

}


.default-item-link_img {
    width: 100%;
}
.item-core {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 353px;
}

.item-core:hover {
    cursor: pointer;
}

.list-item {
    border: 1px solid rgb(221, 217, 217);
}
.item-core::before {
    content: "";
    display: block;
    position: absolute;
}

.item-link {
    display: block;
    width: 100%;
}

.default-item .item-img_image {
    width: 100%;
}

.default-item .item-infos-title {
    font-size: 1.8rem;
    font-weight: 500;
    color: #5e4027;
}


.default-item .gift-item-link {
    top: 70px;
    position: absolute;
    right: 55px;
}

.default-item .item-infos {
    position: relative;
}

.default-group {
    display: flex;
}

.default-list .withBtn .list-dots {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.more-item {
    color: #917359;
    background: url('https://honglam.vn/Themes/Themes01/Assets/css/images/btn-more.png') no-repeat right center;
    padding-right: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: -35px;
    padding-left: 15px;
    font-size: 1.5rem;
}

@keyframes all {
    from {
        padding-right: 20px;
    }
    to {
        padding-right: 30px;
    }
}
.more-item:hover {
    transition: all .3s ease 0s;
    color: #8b0304;
    padding-right: 30px;
    background-image: url('https://honglam.vn/Themes/Themes01/Assets/css/images/btn-more-hover.png');
    cursor: pointer;
}


.more-item-link {
    display: block;
    color: #917359;
}